.boxItemList {
    border-style: 3px solid black;
    padding: 10px;  
    float: left;
}

.smallImage {
    width: 250px;
    height: 250px;
}

.boxItemList:hover {
    border-style: 3px solid black;
    background-color: rgba(109, 103, 103, 0.219);
    cursor: pointer;
}

.textCenter {
    text-align: center;
}